<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         forceCoversAnnotation="true"
         beStrictAboutCoversAnnotation="false"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="true">
    <testsuite name="default">
        <directory suffix="Test.php">tests/</directory>
    </testsuite>

    <php>
        <ini name="error_reporting" value="-1" />
        <server name="KERNEL_DIR" value="App\Kernel" />
        <server name="KERNEL_CLASS" value="App\Kernel" />
        <env name="DATABASE_URL" value = "mysql://root:Squadra@azzura1@localhost:3306/P8-TodoList" />
    </php>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
