{% extends 'base.html.twig' %}

{% block body %}

    <h1>Page non trouvée!</h1>

    <p>
        La page que vous avez voulu consulter n'a pas été trouvée.
        Vérifiez bien l'URL de la page or <a href="{{ path('homepage') }}">retournez à la page d'accueil</a>
    </p>
{% endblock %}